<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.darpan.mechanico">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Cart"></activity>
        <activity android:name=".partnerorders" />
        <activity android:name=".partnerlogin" />
        <activity android:name=".password" />
        <activity android:name=".Emergency" />
        <activity android:name=".Tyre_service" />
        <activity android:name=".book_cab" />
        <activity android:name=".CNG_fitting" />
        <activity android:name=".services" />
        <activity android:name=".Book_now" />
        <activity android:name=".denting" />
        <activity android:name=".Help" />
        <activity android:name=".Account_Settings" />
        <activity android:name=".My_orders" />
        <activity android:name=".My_profile" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".REGISTRATION" />
        <activity android:name=".LOGIN">
            <intent-filter>
                <action android:name="com.example.darpan.mechanico.login3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PAGE3">
            <intent-filter>
                <action android:name="com.example.darpan.mechanico.page3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>